

    {{#if prev}}
    	<div class="prevpage"><a href="{{page_url prev}}" class="mif-chevron-thin-left mif-4x fg-white"></a></div>
    {{/if}}
    {{#if next}}
        <div class="nextpage"><a href="{{page_url next}}" class="mif-chevron-thin-right mif-4x fg-white"></a></div>
    {{/if}}